<p-table *ngIf="table && table.columns && table.data" [columns]="table.columns" [value]="table.data"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.label }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <ng-container [ngSwitch]="col.type">
                    <ng-container *ngSwitchCase="WTYPES.TOOLBARCOLUMN">
                        <toolbar-column [iWidget]="col" [data]="rowData"/>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ rowData[col.name] }}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
</p-table>