.dif-label{
    width:130px;
}
.dif-label-required{
    color:red;
}
.dynamic-field.labeltop{
    display:flex;
    flex-direction: column;
}
.dynamic-field > textarea{
    flex: 1;
}
.dynamic-field.grid{
    margin-left: 0px;
    margin-right: 0px;
}
.dif-label-required{
    margin-left: 4px;
}
