<div *ngIf="inputField && dynamicFormGroup" [style]="inputField.style" class="{{getClassName()}}" [ngSwitch]="inputField.subType" [formGroup]="dynamicFormGroup">
    <label [for]="inputField.id" class="{{getLabelClassName()}}">
        <span>
            {{inputField.label}}
            <span class="dif-label-required" *ngIf="inputField.isRequired">*</span>
        </span>
    </label>
    <ng-container *ngSwitchCase="WSUBTYPES.CHECKBOX">
        <p-checkbox [formControlName]="HELPER.getControlName(inputField)"></p-checkbox>
    </ng-container>
    <ng-container *ngSwitchCase="WSUBTYPES.DATE">
        <p-calendar [showIcon]="true" [formControlName]="HELPER.getControlName(inputField)" placeholder="{{getPlaceholder()}}"></p-calendar>
    </ng-container>
    <ng-container *ngSwitchCase="WSUBTYPES.MASK">
        <p-inputMask [mask]="inputField.mask ? inputField.mask:'*'" placeholder="{{getPlaceholder()}}"
            class="{{getInputClassName()}}" [formControlName]="HELPER.getControlName(inputField)"></p-inputMask>
    </ng-container>
    <ng-container *ngSwitchCase="WSUBTYPES.NUMERIC">
        <p-inputNumber [showButtons]="true" [formControlName]="HELPER.getControlName(inputField)" placeholder="{{getPlaceholder()}}"></p-inputNumber>
    </ng-container>
    <ng-container *ngSwitchCase="WSUBTYPES.PASSWORD">
        <p-password placeholder="{{getPlaceholder()}}" class="{{getInputClassName()}}" [toggleMask]="true" [formControlName]="HELPER.getControlName(inputField)"></p-password>
    </ng-container>
    <ng-container *ngSwitchCase="WSUBTYPES.TEXTAREA">
        <textarea [rows]="inputField.config?.rows ? inputField.config?.rows : ''" pInputTextarea placeholder="{{getPlaceholder()}}" [formControlName]="HELPER.getControlName(inputField)"></textarea>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <input class="{{getInputClassName()}}" pInputText type="text" [id]="inputField.id"
            placeholder="{{getPlaceholder()}}" [formControlName]="HELPER.getControlName(inputField)">
    </ng-container>
</div>