/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

dynamic-container{
    display: inherit;
    flex: inherit;
    justify-content: inherit;
}
dynamic-form p-calendar{
    display: inherit;
    flex:1;
}
dynamic-form p-inputnumber{
    display: inherit;
    flex:1;
}
dynamic-form p-inputmask{
    display: inherit;
    flex:1;
}
dynamic-form p-password{
    display: inherit;
    flex:1;
}
dynamic-form p-dropdown{
    display: inherit;
    flex:1;
}
dynamic-form{
    display: inherit;
    justify-content: inherit;
    flex:1;
}
dynamic-form .p-calendar{
    flex:1;
}
dynamic-form .p-inputmask{
    flex:1;
}
dynamic-form .p-dropdown{
    flex:1;
}
dynamic-form  .p-password{
    flex:1;
}
dynamic-form  .p-inputtext{
    flex:1;
}
dynamic-form  .p-inputnumber{
    flex:1;
}
.dynamic-container{
    padding: 5px;
}
.dynamic-container.vlayout{
    display:flex;
    flex-direction: column;
    flex:1;
}
.dynamic-container.hlayout{
    display:flex;
    flex-direction: row;
    flex:1;
}
.dynamic-container.blayout{
    display:block;
}

